*, *:before, *:after {
  box-sizing: border-box;
}
body {
font-family: courier new;
font-style: inherit;
font-size: calc(2rem + .1vw);
text-align: center;
color:#ffffff; 
background-color:#1e2c4b;
}

.navigation a{
font-style: inherit; 
float: center;
color: #f2f2f2;
text-align: center;
text-decoration: none;
font-size: calc(1.5rem + .1vw);
}
.navigation a:hover{
background-color: #7999b6; 
padding: .5rem .5rem;
color: white;
}

img{
  float: center;
  vertical-align: middle;
  width: 23%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.aside {
font-size: 20px;
text-align:left;
line-height: 1.6;
}

p{
font-size: 30px;
text-align:center;
right:15px;
left: 5px;
width: 100%;
line-height: 1.6;
}
p2{
text-align: center;
font-size: 30px;
text-align: center;
}