*, *:before, *:after {
    box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.container {
    background: rgba(255,255,255,0.7);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    color: #000000;
}

p1 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: #F2D3F5;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: red;
}


input, textarea {
    margin: auto;
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background-color: none;
    background-image: none;
    border: 0 solid #5f676d;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
    :focus
{
    outline: 0;
}

}

textarea {
    border: 2px solid #5f676d;
    resize: vertical;
}

.button {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #a0b3b0;
    transition: all.5s ease;
    -webkit-appearance: none;
    :hover, :focus {
        background:darken(#1ab188,5%);
    }
}

.button-block {
    display: block;
    width: 100%;
}
